installation

In [ ]:
# pip install pandas sqlalchemy

### importing libraries

In [2]:
import sqlite3
import pandas as pd

### general

Q.1: Count the number of participants

In [ ]:
db_path = './database/mmdt.db3'
query = 'SELECT count(*) FROM participants'
df = pd.read_sql_query(query, f"sqlite:///{db_path}")

Q.2: Retrieve the ID, City and State Region of all applicants who are currently in Myanmar

In [5]:
query = "SELECT ID, city, state_region FROM country WHERE country LIKE 'Myanmar'"

In [ ]:
# retrieve gender is null
query = "SELECT ID FROM participants WHERE gender IS NULL"

In [ ]:
# calculate the age
query = "SELECT ID, 2024-BOD as AGE FROM participants LIMIT 5"

In [ ]:
-- find mean, min, max, standard deviaion stddev of AGE.
SELECT ID, 
        mean(2024-BOD) as Mean_AGE, 
        max(2024-BOD) as max_AGE, 
        min(2024-BOD) as min_AGE,
        stddev(2024-BOD) as std_AGE
FROM participants LIMIT 5"

### Working with NULL values

#### check the null values

In [ ]:
-- check null value from the column
SELECT COUNT(*) FROM table_name WHERE column IS NULL;

SELECT * FROM table_name WHERE column IS NULL;

-- check not null
SELECT * FROM table_name WHERE column IS NOT NULL;

#### update NULL values

In [ ]:
-- update table
UPDATE table_name
SET column_name = 'value'
WHERE statement;

UPDATE participants
SET selected = 'REPLACE'
WHERE ID in [82,85]';

UPDATE participants
SET country = COALESCE(country, 'Bhutan');

In [ ]:
-- working in query; not update to the table;
SELECT id, COALESCE(BOD, 2000)
FROM participants
LIMIT 20 OFFSET 80; 
-- offset = latest rows

### Joining the tables

In [ ]:
-- right join and full outer join are not supported in SQLite.
INNER JOIN:
RIGHT JOIN
SELF JOIN
CROSS JOIN

### Case statement

In [ ]:
-- case
SELECT 
    CASE 
        WHEN condition1 THEN case1
        WHEN condition2 THEN case2
        ELSE condition3
    END AS column_name
FROM table;

### Common table expression
create temp table

In [ ]:
-- common table expression
WITH temp_table_name AS (
    SELECT statement for building the required table
)

In [ ]:
WITH 
    temp_table1 AS (
        SELECT statement for building the required table
    ),
    temp_table2 AS (


SELECT * FROM temp_table1;

### Working with Date and Time

### Window Functions

row_number()  
rank()   
dense_rank()  
percent_rank()  
cume_dist()  
ntile(N)  
lag(expr), lag(expr,offset), lag(expr,offset,default)  
lead(expr), lead(expr,offset), lead(expr,offset,default)  
first_value(expr)  
last_value(expr)  
nth_value(expr,N)

In [ ]:
-- window 
SELECT window_function() OVER (
    PARTITION BY clause
    ORDER BY clause
    
)

-- e.g
SELECT 
    ID,
    RANK() OVER(
                ORDER BY pre_knowledge_data
                ) AS level
FROM participants;