# Assessment

## 1. Creating the Tables

In [ ]:
-- Database structure:

create database GoodChoice;
Use GoodChoice;

-- create Supplier table;
Create table Supplier (
	supplierID varchar(50)primary key,
    supplyDate datetime,
    supplierName varchar(250) not null,
    supplierCountry varchar(250),
    supplierPhone varchar (60)
);

-- Create Purchase Table;
Create table Purchase (
	purchaseID varchar(50) primary key,
	purchaseDate datetime,
	productID varchar(50),
    supplierID varchar(50),
    purchaseQty int,
    unitPurchasePrice double --update
    totalPurchaseAmount double, --update
    foreign key (productID) references product(productID),
    foreign key (supplierID) references supplier(supplierID)
    
);
    
-- create product_category table;
create table category (
	categoryID varchar(50) primary key,
    categoryName varchar(250) not null
);

-- create Product table;
create table product (
	productID varchar(50) primary key,
    categoryID varchar(50),
    productName varchar(250),
    productImage varchar(250),
    productPrice float(10,2),
    stockQty int,
    foreign key (categoryID) references category(categoryID) 
);

-- create table Order;
create table Order (
	orderID varchar(50) primary key,
    orderDate datetime,
    customerID varchar(50),
    deliveryDate datetime,
    deliveryAddress varchar(250),
    totalAmount double,
    orderType varchar(250),
    paymentStatus varchar(50), --should include in the customer payment?
    foreign key (customerId) references customer(customerID) 
);
-- create product order table;
create table ProductOrder (
	productID varchar(50) ,
    orderId varchar(50),
	primary key(productID, orderID),
    productQty int,
    sellingPrice float(10,2), 
    totalAmount float(10,2),
    foreign key (productID) references Product(productID),
    foreign key (orderID) references Order(orderID)
);

-- create table Customer;
create table Customer (
	customerID varchar(50) primary key,
    customerName varchar(250),
    customerPhone varchar(100),
    customerAddress varchar(250)
);

-- create table CustomerPayment;
create table CustomerPayment (
	customerPaymentID varchar(50) primary key,
    orderId varchar(50),
    paymentMethod varchar(50),
    paymentAmount double,
    paymentDate datetime,
    -- remainingAmount float(10,2), should include here
    foreign key (orderID) references Order(orderID)
);

-- create table SupplierPayment;
create table SupplierPayment (
	supplierPaymentID varchar(50) primary key,
    purchaseID varchar(50),
    paymentDate datetime,
    paymentAmount float(10,2),
    remainingAmount float(10,2),
    -- paymentMethod varchar(50), should include
    paymentStatus varchar(50), -- update 
    foreign key (purchaseID) references Purchase(purchaseID)
);

## 2. Inserting Data

#### Customers, Vendors, ProductCategories Table

Insert 5 customers into Catagory table:

In [ ]:
INSERT INTO Category (categoryID, categoryName) VALUES
('CAT001', 'Educational Toys'),
('CAT002', 'Soft Toys'),
('CAT003', 'Action Figures'),
('CAT004', 'Building Blocks'),
('CAT005', 'Remote Control Toys');

Insert 5 customers into Customer table:

In [ ]:
INSERT INTO Customer (customerID, customerName, customerPhone, customerAddress) VALUES
('C001', 'Aung Min', '+95-1-2345678', 'Sanchaung, Yangon, Myanmar'),
('C002', 'Zaw Win', '+95-9-7654321', 'Kamayut, Yangon, Myanmar'),
('C003', 'Hla Htay', '+95-9-1234567', 'Mayangone, Yangon, Myanmar'),
('C004', 'Mya Oo', '+95-1-8765432', 'Hledan, Yangon, Myanmar'),
('C005', 'Thidar Kyaw', '+95-9-5678901', 'Tamwe, Yangon, Myanmar'),
('C006', 'Tun Lin', '+95-2-2345678', 'Chan Aye Thar Zan, Mandalay, Myanmar'),
('C007', 'Myint Zaw', '+95-9-4567890', 'Aungmyaythazan, Mandalay, Myanmar'),
('C008', 'Soe Min', '+95-9-8765432', 'Maha Aung Myay, Mandalay, Myanmar'),
('C009', 'Htet Aung', '+95-2-1234567', 'Amarapura, Mandalay, Myanmar'),
('C010', 'Thet Naing', '+95-9-6789012', 'Pyin Oo Lwin, Mandalay, Myanmar'),
('C011', 'Moe Moe', '+95-74-1234567', 'Shwe Min Wun, Myitkyina, Myanmar'),
('C012', 'Min Khant', '+95-74-7654321', 'Sitapu, Myitkyina, Myanmar'),
('C013', 'Aye Aye', '+95-74-3456789', 'Du Ka Hta, Myitkyina, Myanmar'),
('C014', 'Kyaw Kyaw', '+95-74-2345678', 'Zaygone, Myitkyina, Myanmar'),
('C015', 'Hlaing Hlaing', '+95-9-4567891', 'Yuzana, Myitkyina, Myanmar'),
('C016', 'Than Than', '+95-9-9876543', 'Botahtaung, Yangon, Myanmar'),
('C017', 'Sanda Win', '+95-1-7654321', 'Downtown, Yangon, Myanmar'),
('C018', 'Nay Lin', '+95-9-8765431', 'Kyauk Myaung, Yangon, Myanmar'),
('C019', 'Paing Soe', '+95-2-3456789', 'Naypyidaw, Myanmar'),
('C020', 'Ei Ei', '+95-9-6789123', 'Chan Mya Thazi, Mandalay, Myanmar');

Insert 5 supplier into Supplier table:

In [ ]:
INSERT INTO Supplier (supplierID, supplyDate, supplierName, supplierCountry, supplierPhone) VALUES
('S001', '2024-02-20 10:00:00', 'Bangkok Trading Co.', 'Thailand', '+66-2-123-4567'),
('S002', '2024-02-18 15:30:00', 'Chiang Mai Exports', 'Thailand', '+66-53-987-6543'),
('S003', '2024-02-22 09:45:00', 'Shanghai Industrial Ltd.', 'China', '+86-21-8765-4321'),
('S004', '2024-02-19 14:10:00', 'Guangzhou Manufacturing', 'China', '+86-20-1234-5678'),
('S005', '2024-02-21 11:25:00', 'Yangon Supply Co.', 'Myanmar', '+95-1-234-5678');

#### Product Table

Insert 20 products into Products table:

In [ ]:
INSERT INTO Product (productID, categoryID, productName, productImage, productPrice, stockQty) VALUES
('P001', 'CAT001', 'Alphabet Learning Board', 'alphabet_board.jpg', 12.99, 50),
('P002', 'CAT001', 'Math Flash Cards', 'math_flashcards.jpg', 8.49, 30),
('P003', 'CAT001', 'Solar System Puzzle', 'solar_system_puzzle.jpg', 15.99, 40),
('P004', 'CAT001', 'Animal Sound Book', 'animal_sound_book.jpg', 9.99, 35),
('P005', 'CAT001', 'STEM Building Kit', 'stem_building_kit.jpg', 22.50, 25),

('P006', 'CAT002', 'Teddy Bear (Large)', 'teddy_bear_large.jpg', 18.99, 60),
('P007', 'CAT002', 'Bunny Plush Toy', 'bunny_plush.jpg', 14.99, 45),
('P008', 'CAT002', 'Elephant Cuddle Toy', 'elephant_cuddle.jpg', 16.50, 40),
('P009', 'CAT002', 'Dinosaur Plush', 'dinosaur_plush.jpg', 20.00, 35),
('P010', 'CAT002', 'Panda Stuffed Animal', 'panda_stuffed.jpg', 13.75, 50),

('P011', 'CAT003', 'Superhero Action Figure', 'superhero_figure.jpg', 25.00, 30),
('P012', 'CAT003', 'Robot Warrior', 'robot_warrior.jpg', 28.99, 20),
('P013', 'CAT003', 'Soldier Army Set', 'soldier_army_set.jpg', 15.50, 35),
('P014', 'CAT003', 'Fantasy Dragon Figure', 'fantasy_dragon.jpg', 18.75, 25),
('P015', 'CAT003', 'Pirate Adventure Set', 'pirate_adventure.jpg', 22.99, 30),

('P016', 'CAT004', 'Classic LEGO Set', 'lego_set.jpg', 45.00, 40),
('P017', 'CAT004', 'Wooden Blocks Set', 'wooden_blocks.jpg', 19.99, 50),
('P018', 'CAT004', 'Magnetic Tiles', 'magnetic_tiles.jpg', 39.50, 30),
('P019', 'CAT004', 'Stacking Tower', 'stacking_tower.jpg', 12.99, 60),
('P020', 'CAT004', 'Creative Brick Box', 'creative_brick_box.jpg', 34.99, 25);

#### Orders Table

In [ ]:
INSERT INTO `Order` (orderID, orderDate, customerID, deliveryDate, deliveryAddress, totalAmount, orderType, paymentStatus) VALUES
('O001', '2024-12-03 15:05:13', 'C004', '2024-11-27 02:04:25', 'Hledan, Yangon, Myanmar', 101.82, 'Online', 'Paid'),
('O002', '2024-11-26 16:29:18', 'C005', '2024-11-03 00:57:45', 'Tamwe, Yangon, Myanmar', 215.10, 'Online', 'Paid'),
('O003', '2024-11-29 03:48:44', 'C016', '2024-12-23 14:53:37', 'Botahtaung, Yangon, Myanmar', 36.22, 'Online', 'Paid'),
('O004', '2024-11-05 18:55:47', 'C010', '2024-12-10 07:07:45', 'Pyin Oo Lwin, Mandalay, Myanmar', 228.98, 'Online', 'Paid'),
('O005', '2024-12-27 20:48:47', 'C020', '2024-12-01 03:26:33', 'Chan Mya Thazi, Mandalay, Myanmar', 242.02, 'Online', 'Paid'),
('O006', '2024-12-03 19:55:28', 'C011', '2024-11-24 17:38:06', 'Shwe Min Wun, Myitkyina, Myanmar', 111.64, 'Online', 'Paid'),
('O007', '2024-12-23 08:07:10', 'C001', '2024-11-22 02:22:15', 'Sanchaung, Yangon, Myanmar', 239.13, 'Online', 'Paid'),
('O008', '2024-12-19 02:04:29', 'C008', '2024-12-21 18:56:29', 'Random Address', 86.48, 'Online', 'Paid'),
('O009', '2024-12-29 20:09:23', 'C017', '2024-11-29 10:44:33', 'Downtown, Yangon, Myanmar', 451.03, 'Online', 'Paid'),
('O010', '2024-12-24 05:45:44', 'C013', '2024-11-16 07:53:15', 'Random Address', 273.66, 'Online', 'Paid'),
('O011', '2024-12-07 19:52:33', 'C010', '2024-12-16 02:12:29', 'Pyin Oo Lwin, Mandalay, Myanmar', 193.78, 'Online', 'Paid'),
('O012', '2024-12-18 19:49:37', 'C015', '2024-11-16 16:52:59', 'Random Address', 115.50, 'Online', 'Paid'),
('O013', '2024-12-03 09:51:34', 'C013', '2024-12-19 11:51:21', 'Random Address', 194.72, 'Online', 'Paid'),
('O014', '2024-11-14 00:40:53', 'C013', '2024-11-11 12:52:21', 'Random Address', 139.38, 'Online', 'Paid'),
('O015', '2024-11-17 04:10:33', 'C020', '2024-11-03 06:24:54', 'Chan Mya Thazi, Mandalay, Myanmar', 42.88, 'Online', 'Paid'),
('O016', '2024-11-06 20:00:51', 'C005', '2024-12-12 11:34:16', 'Tamwe, Yangon, Myanmar', 154.12, 'Online', 'Paid'),
('O017', '2024-11-18 15:52:10', 'C005', '2024-12-05 17:04:25', 'Tamwe, Yangon, Myanmar', 137.39, 'Online', 'Paid'),
('O018', '2024-12-29 01:31:30', 'C005', '2024-12-31 15:00:21', 'Tamwe, Yangon, Myanmar', 249.73, 'Online', 'Paid'),
('O019', '2024-11-25 09:26:54', 'C006', '2024-11-24 16:39:32', 'Random Address', 244.97, 'Online', 'Paid'),
('O020', '2024-11-06 07:08:41', 'C016', '2024-11-27 03:22:49', 'Botahtaung, Yangon, Myanmar', 311.21, 'Online', 'Paid'),
('O021', '2024-11-15 10:44:31', 'C018', '2024-11-04 19:39:34', 'Random Address', 119.67, 'Online', 'Paid'),
('O022', '2024-12-16 13:26:24', 'C008', '2024-12-15 15:25:14', 'Random Address', 70.34, 'Online', 'Paid'),
('O023', '2024-11-30 06:49:42', 'C016', '2024-12-28 18:48:49', 'Botahtaung, Yangon, Myanmar', 71.40, 'Online', 'Paid'),
('O024', '2024-11-15 01:52:51', 'C004', '2024-12-18 06:27:15', 'Hledan, Yangon, Myanmar', 28.62, 'Online', 'Paid'),
('O025', '2024-12-04 23:45:31', 'C014', '2024-12-15 17:41:19', 'Random Address', 63.36, 'Online', 'Paid'),
('O026', '2024-12-01 12:10:52', 'C017', '2024-12-29 00:43:52', 'Downtown, Yangon, Myanmar', 94.36, 'Online', 'Paid'),
('O027', '2024-11-04 10:25:18', 'C015', '2024-12-27 01:31:38', 'Random Address', 151.96, 'Online', 'Paid'),
('O028', '2024-11-02 11:57:48', 'C012', '2024-11-23 01:26:21', 'Random Address', 184.40, 'Online', 'Paid'),
-- unpaid transaction
('O029', '2024-12-31 18:29:31', 'C003', '2024-12-19 08:16:39', 'Mayangone, Yangon, Myanmar', 446.88, 'Online', 'Unpaid'),
-- paid transaction
('O030', '2024-11-24 15:15:21', 'C019', '2024-12-20 09:46:44', 'Random Address', 280.96, 'Online', 'Paid'),
('O031', '2024-11-13 02:55:01', 'C007', '2024-11-13 03:31:41', 'Aungmyaythazan, Mandalay, Myanmar', 212.35, 'Online', 'Paid'),
-- unpaid transaction
('O032', '2024-12-06 10:09:32', 'C019', '2024-11-04 03:36:05', 'Random Address', 119.70, 'Online', 'Unpaid'),
-- paid transaction
('O033', '2024-10-31 00:49:08', 'C015', '2024-11-07 21:39:05', 'Random Address', 192.23, 'Online', 'Paid'),
('O034', '2024-11-30 04:28:51', 'C017', '2024-12-15 17:01:39', 'Downtown, Yangon, Myanmar', 540.85, 'Online', 'Paid'),
('O035', '2024-12-15 07:37:56', 'C010', '2024-11-04 03:45:46', 'Random Address', 110.31, 'Online', 'Paid'),
('O036', '2024-11-01 22:07:22', 'C003', '2024-12-28 11:03:13', 'Mayangone, Yangon, Myanmar', 216.80, 'Online', 'Paid'),
-- unpaid transaction
('O037', '2024-12-28 07:05:05', 'C019', '2024-11-09 11:14:02', 'Random Address', 326.09, 'Online', 'Unpaid'),
('O038', '2024-12-04 20:15:04', 'C010', '2024-12-09 16:26:28', 'Random Address', 61.80, 'Online', 'Unpaid'),
('O039', '2024-12-06 02:50:06', 'C007', '2024-12-12 23:14:18', 'Aungmyaythazan, Mandalay, Myanmar', 329.58, 'Online', 'Unpaid'),
-- paid transaction
('O040', '2024-12-10 03:53:00', 'C018', '2024-12-05 12:08', 'Kyauk Myaung, Yangon, Myanmar', 144.95, 'Online', 'Paid'),
('O041', '2024-11-27 00:10:10', 'C016', '2024-11-22 14:09', 'Botahtaung, Yangon, Myanmar', 262.97, 'Online', 'Paid'),
('O042', '2024-12-06 21:05:20', 'C017', '2024-11-11 09:29', 'Downtown, Yangon, Myanmar', 153.19, 'Online', 'Paid'),
('O043', '2024-11-09 07:20:00', 'C017', '2024-12-09 17:27', 'Downtown, Yangon, Myanmar', 216.62, 'Online', 'Paid'),
('O044', '2024-11-07 19:33:00', 'C016', '2024-11-25 22:37', 'Botahtaung, Yangon, Myanmar', 97.62, 'Online', 'Paid'),
('O045', '2024-11-19 21:04:00', 'C013', '2024-11-01 17:07', 'Du Ka Hta, Myitkyina, Myanmar', 299.00, 'Online', 'Paid'),
('O046', '2024-12-30 09:35:00', 'C007', '2024-12-18 05:41', 'Aungmyaythazan, Mandalay, Myanmar', 219.98, 'Online', 'Paid'),
('O047', '2024-12-20 01:56:00', 'C020', '2024-12-29 10:29', 'Chan Mya Thazi, Mandalay, Myanmar', 161.93, 'Online', 'Paid'),
('O048', '2024-12-22 01:06:00', 'C005', '2024-11-13 12:06', 'Tamwe, Yangon, Myanmar', 173.26, 'Online', 'Paid'),
('O049', '2024-11-21 07:01:00', 'C004', '2024-12-22 12:05', 'Hledan, Yangon, Myanmar', 186.96, 'Online', 'Paid'),
('O050', '2024-11-26 08:01:00', 'C003', '2024-11-11 06:02', 'Mayangone, Yangon, Myanmar', 220.71, 'Online', 'Paid');

#### ProductOrders Table

In [ ]:
-- Insert Product Orders
INSERT INTO ProductOrder (productID, orderID, productQty, sellingPrice, totalAmount) VALUES
('P010', 'O001', 1, 49.2, 49.2),
('P020', 'O001', 2, 26.31, 52.62),
('P015', 'O002', 2, 24.47, 48.94),
('P017', 'O002', 3, 25.48, 76.44),
('P013', 'O002', 2, 44.86, 89.72),
('P015', 'O003', 1, 36.22, 36.22),
('P020', 'O004', 4, 40.72, 162.88),
('P002', 'O004', 2, 33.05, 66.1),
('P005', 'O005', 2, 23.51, 47.02),
('P013', 'O005', 5, 39.0, 195.0),
('P018', 'O006', 4, 27.91, 111.64),
('P010', 'O007', 2, 29.19, 58.38),
('P014', 'O007', 5, 36.15, 180.75),
('P018', 'O008', 1, 13.58, 13.58),
('P012', 'O008', 2, 36.45, 72.9),
('P008', 'O009', 5, 38.85, 194.25),
('P012', 'O009', 5, 42.56, 212.8),
('P006', 'O009', 1, 43.98, 43.98),
('P013', 'O010', 5, 18.9, 94.5),
('P003', 'O010', 4, 44.79, 179.16),
('P003', 'O011', 5, 29.36, 146.8),
('P008', 'O011', 3, 15.66, 46.98),
('P008', 'O012', 1, 26.55, 26.55),
('P011', 'O012', 1, 20.69, 20.69),
('P013', 'O012', 2, 34.13, 68.26),
('P013', 'O013', 4, 48.68, 194.72),
('P004', 'O014', 1, 36.6, 36.6),
('P006', 'O014', 3, 34.26, 102.78),
('P005', 'O015', 1, 42.88, 42.88),
('P006', 'O016', 5, 23.45, 117.25),
('P009', 'O016', 3, 12.29, 36.87),
('P008', 'O017', 2, 46.33, 92.66),
('P019', 'O017', 1, 44.73, 44.73),
('P020', 'O018', 5, 34.25, 171.25),
('P011', 'O018', 2, 25.81, 51.62),
('P007', 'O018', 1, 26.86, 26.86),
('P016', 'O019', 3, 41.73, 125.19),
('P008', 'O019', 1, 14.96, 14.96),
('P005', 'O019', 3, 34.94, 104.82),
('P018', 'O020', 3, 37.5, 112.5),
('P003', 'O020', 2, 14.83, 29.66),
('P014', 'O020', 5, 33.81, 169.05),
('P019', 'O021', 3, 39.89, 119.67),
('P003', 'O022', 2, 35.17, 70.34),
('P010', 'O023', 5, 14.28, 71.40),
('P007', 'O024', 1, 28.62, 28.62),
('P011', 'O025', 1, 23.19, 23.19),
('P003', 'O025', 1, 11.45, 11.45),
('P001', 'O025', 2, 14.36, 28.72),
('P010', 'O026', 2, 47.18, 94.36),
('P018', 'O027', 4, 37.99, 151.96),
('P020', 'O028', 1, 29.49, 29.49),
('P009', 'O028', 3, 35.1, 105.30),
('P001', 'O028', 1, 49.61, 49.61),
('P013', 'O029', 5, 36.95, 184.75),
('P017', 'O029', 3, 47.39, 142.17),
('P019', 'O029', 4, 29.99, 119.96),
('P020', 'O030', 5, 37.1, 185.50),
('P008', 'O030', 3, 31.82, 95.46),
('P005', 'O031', 4, 38.4, 153.6),
('P017', 'O031', 1, 19.95, 19.95),
('P012', 'O031', 1, 38.8, 38.8),
('P012', 'O032', 3, 18.5, 55.5),
('P009', 'O032', 2, 32.1, 64.2),
('P013', 'O033', 5, 22.26, 111.3),
('P014', 'O033', 4, 15.49, 61.96),
('P005', 'O033', 1, 18.97, 18.97),
('P001', 'O034', 3, 47.9, 143.7),
('P014', 'O034', 5, 47.11, 235.55),
('P007', 'O034', 4, 40.4, 161.6),
('P020', 'O035', 3, 17.77, 53.31),
('P018', 'O035', 2, 28.5, 57),
('P008', 'O036', 5, 43.36, 216.8),
('P015', 'O037', 4, 16.63, 66.52),
('P004', 'O037', 5, 32.81, 164.05),
('P006', 'O037', 3, 31.84, 95.52),
('P008', 'O038', 3, 20.6, 61.8),
('P014', 'O039', 2, 12.21, 24.42),
('P015', 'O039', 4, 25.74, 102.96),
('P013', 'O039', 5, 40.44, 202.2),
('P017', 'O040', 3, 41.7, 125.1),
('P006', 'O040', 1, 19.85, 19.85),
('P009', 'O041', 5, 32.14, 160.7),
('P001', 'O041', 2, 43.4, 86.8),
('P015', 'O041', 1, 15.47, 15.47),
('P006', 'O042', 2, 46.22, 92.44),
('P010', 'O042', 5, 12.15, 60.75),
('P019', 'O043', 2, 40.75, 81.5),
('P008', 'O043', 2, 17.04, 34.08),
('P017', 'O043', 3, 33.68, 101.04),
('P013', 'O044', 2, 48.81, 97.62),
('P010', 'O045', 5, 13.28, 66.4),
('P012', 'O045', 4, 26.11, 104.44),
('P001', 'O045', 4, 32.04, 128.16),
('P010', 'O046', 2, 24.99, 49.98),
('P006', 'O046', 4, 22.67, 90.68),
('P004', 'O046', 4, 19.83, 79.32),
('P009', 'O047', 1, 46.1, 46.1),
('P010', 'O047', 2, 36.64, 73.28),
('P020', 'O047', 1, 42.55, 42.55),
('P004', 'O048', 1, 17.1, 17.1),
('P015', 'O048', 2, 19.56, 39.12),
('P002', 'O048', 4, 29.26, 117.04),
('P004', 'O049', 2, 14.71, 29.42),
('P007', 'O049', 4, 25.61, 102.44),
('P019', 'O049', 5, 11.02, 55.1),
('P006', 'O050', 3, 30.73, 92.19),
('P013', 'O050', 2, 46.79, 93.58),
('P017', 'O050', 1, 34.94, 34.94);

#### Customer Payment Table

In [ ]:
INSERT INTO CustomerPayment (customerPaymentID, orderID, paymentMethod, paymentAmount, paymentDate) VALUES
('CP001', 'O001', 'Bank Transfer', 101.82, '2024-11-27 02:04:25'),
('CP002', 'O002', 'Cash', 215.10, '2024-11-03 00:57:45'),
('CP003', 'O003', 'Credit Card', 36.22, '2024-12-23 14:53:37'),
('CP004', 'O004', 'Mobile Payment', 228.98, '2024-12-10 07:07:45'),
('CP005', 'O005', 'Cash', 242.02, '2024-12-01 03:26:33'),
('CP006', 'O006', 'Credit Card', 111.64, '2024-11-24 17:38:06'),
('CP007', 'O007', 'Bank Transfer', 239.13, '2024-11-22 02:22:15'),
('CP008', 'O008', 'Cash', 86.48, '2024-12-21 18:56:29'),
('CP009', 'O009', 'Credit Card', 451.03, '2024-11-29 10:44:33'),
('CP010', 'O010', 'Mobile Payment', 273.66, '2024-11-16 07:53:15'),
('CP011', 'O011', 'Bank Transfer', 193.78, '2024-12-16 02:12:29'),
('CP012', 'O012', 'Cash', 115.50, '2024-11-16 16:52:59'),
('CP013', 'O013', 'Credit Card', 194.72, '2024-12-19 11:51:21'),
('CP014', 'O014', 'Bank Transfer', 139.38, '2024-11-11 12:52:21'),
('CP015', 'O015', 'Cash', 42.88, '2024-11-03 06:24:54'),
('CP016', 'O016', 'Credit Card', 154.12, '2024-12-12 11:34:16'),
('CP017', 'O017', 'Mobile Payment', 137.39, '2024-12-05 17:04:25'),
('CP018', 'O018', 'Bank Transfer', 249.73, '2024-12-31 15:00:21'),
('CP019', 'O019', 'Cash', 244.97, '2024-11-24 16:39:32'),
('CP020', 'O020', 'Credit Card', 311.21, '2024-11-27 03:22:49'),
('CP021', 'O021', 'Mobile Payment', 119.67, '2024-11-04 19:39:34'),
('CP022', 'O022', 'Bank Transfer', 70.34, '2024-12-15 15:25:14'),
('CP023', 'O023', 'Cash', 71.40, '2024-12-28 18:48:49'),
('CP024', 'O024', 'Credit Card', 28.62, '2024-12-18 06:27:15'),
('CP025', 'O025', 'Bank Transfer', 63.36, '2024-12-15 17:41:19'),
('CP026', 'O026', 'Mobile Payment', 94.36, '2024-12-29 00:43:52'),
('CP027', 'O027', 'Credit Card', 151.96, '2024-12-27 01:31:38'),
('CP028', 'O028', 'Cash', 184.40, '2024-11-23 01:26:21'),
('CP030', 'O030', 'Bank Transfer', 280.96, '2024-12-20 09:46:44'),
('CP031', 'O031', 'Credit Card', 212.35, '2024-11-13 03:31:41'),
('CP033', 'O033', 'Cash', 192.23, '2024-11-07 21:39:05'),
('CP034', 'O034', 'Bank Transfer', 540.85, '2024-12-15 17:01:39'),
('CP035', 'O035', 'Mobile Payment', 110.31, '2024-11-04 03:45:46'),
('CP036', 'O036', 'Credit Card', 216.80, '2024-12-28 11:03:13'),
('CP040', 'O040', 'Bank Transfer', 144.95, '2024-12-05 12:08'),
('CP041', 'O041', 'Cash', 262.97, '2024-11-22 14:09'),
('CP042', 'O042', 'Credit Card', 153.19, '2024-11-11 09:29'),
('CP043', 'O043', 'Cash', 216.62, '2024-12-09 17:27'),
('CP044', 'O044', 'Mobile Payment', 97.62, '2024-11-25 22:37'),
('CP045', 'O045', 'Mobile Payment', 299.00, '2024-11-01 17:07'),
('CP046', 'O046', 'Mobile Payment', 219.98, '2024-12-18 05:41'),
('CP047', 'O047', 'Mobile Payment', 161.93, '2024-12-29 10:29'),
('CP048', 'O048', 'Bank Transfer', 173.26, '2024-11-13 12:06'),
('CP049', 'O049', 'Cash', 186.96, '2024-12-22 12:05'),
('CP050', 'O050', 'Mobile Payment', 220.71, '2024-11-11 06:02');

####  Purchasae Table

In [ ]:
INSERT INTO Purchase (purchaseID, purchaseDate, supplierID, productID, purchaseQty, unitPurchasePrice, totalPurchaseAmount) VALUES
('PU001', '2024-11-12 14:35:00', 'S003', 'P012', 55, 9.32, 512.45),
('PU002', '2024-12-05 09:20:00', 'S001', 'P007', 75, 8.44, 632.78),
('PU003', '2024-10-25 17:50:00', 'S005', 'P019', 60, 7.01, 420.67),
('PU004', '2024-11-18 11:10:00', 'S002', 'P008', 40, 9.72, 388.92),
('PU005', '2024-12-02 15:30:00', 'S004', 'P011', 90, 7.95, 715.30),
('PU006', '2024-10-30 08:45:00', 'S002', 'P015', 30, 9.52, 285.50),
('PU007', '2024-11-22 12:25:00', 'S003', 'P017', 50, 8.65, 432.60),
('PU008', '2024-12-15 10:00:00', 'S005', 'P003', 70, 8.73, 610.89),
('PU009', '2024-11-10 14:40:00', 'S001', 'P006', 45, 10.89, 490.20),
('PU010', '2024-12-20 16:55:00', 'S004', 'P018', 85, 8.77, 745.75);

####  Supplier Payment Table

In [ ]:
INSERT INTO SupplierPayment (supplierPaymentID, purchaseID, paymentDate, paymentAmount, remainingAmount,paymentStatus) VALUES
('SP001', 'PU001', '2024-11-12 14:35:00', 410.00, 102.45,'Unpaid'), -- Unpaid
('SP002', 'PU002', '2024-12-05 09:20:00', 500.00, 132.78,'Unpaid'), -- Unpaid
('SP003', 'PU003', '2024-10-25 17:50:00', 300.00, 120.67,'Unpaid'), -- Unpaid
('SP004', 'PU004', '2024-11-18 11:10:00', 388.92, 0.00,'Paid'),
('SP005', 'PU005', '2024-12-02 15:30:00', 715.30, 0.00,'Paid'),
('SP006', 'PU006', '2024-10-30 08:45:00', 285.50, 0.00,'Paid'),
('SP007', 'PU007', '2024-11-22 12:25:00', 432.60, 0.00,'Paid'),
('SP008', 'PU008', '2024-12-15 10:00:00', 610.89, 0.00,'Paid'),
('SP009', 'PU009', '2024-11-10 14:40:00', 490.20, 0.00,'Paid'),
('SP010', 'PU010', '2024-12-20 16:55:00', 745.75, 0.00,'Paid');

## 3. SQL Query

#### 1. Understanding your products

In [ ]:
-- top 3 best selling product items
SELECT p.productID, p.productName, SUM(po.productQty) AS total_sold
FROM ProductOrder po
JOIN Product p ON po.productID = p.productID
GROUP BY p.productID, p.productName
ORDER BY total_sold DESC
LIMIT 3;

Explanation:  
Joins ProductOrder with Product to get product details.  
Sums up the productQty to calculate the total quantity sold.  
Orders by total_sold in descending order to get the best-selling products.  
Limits the result to the top 3 products.

#### 2. Controlling the Payments (customers and vendors)

In [ ]:
-- [customer] get the unpaid orderID and amount
SELECT o.customerID, c.customerName, o.orderID, o.totalAmount
FROM `Order` o
JOIN Customer c ON o.customerID = c.customerID
WHERE o.paymentStatus = 'Unpaid'
ORDER BY o.totalAmount DESC;

Explanation:  
Joins the Order table with Customer to get customer details.  
Filters only unpaid orders (paymentStatus = 'Unpaid').  
Displays customerID, customerName, orderID, and totalAmount.  
Orders by totalAmount in descending order to show the highest unpaid amounts first.

In [ ]:
-- [customer] make payment for the unpaid order
        -- unpaid transaction
        -- ('O029', '2024-12-31 18:29:31', 'C003', '2024-12-19 08:16:39', 'Mayangone, Yangon, Myanmar', 446.88, 'Online', 'UnPaid')
-- 1. insert the payment transaction to the customerPayment table
INSERT INTO CustomerPayment (customerPaymentID, orderID, paymentMethod, paymentAmount, paymentDate)
VALUES ('CP029', 'O029', 'Credit Card', 446.88, '2024-12-19 08:16:39');

-- 2. update the payment status in the order table
UPDATE `Order`
SET paymentStatus = 'Paid'
WHERE orderID = 'O029';

Explanation:  
- First query updates the Order table to change paymentStatus from 'UnPaid' to 'Paid'.  
- Second query inserts a record into CustomerPayment:  
  - customerPaymentID is generated as CP029 (matching O029).  
  - paymentAmount is 446.88 (same as the order's totalAmount).  
  - paymentDate is 2024-12-19 08:16:39 (same as order delivery date).  
  - paymentMethod is set to "Credit Card" (you can change this).

In [ ]:
-- [vendor] get the unpaid orderID and amount
SELECT p.supplierID, s.supplierName, p.purchaseID, sp.remainingAmount
FROM Purchase p
JOIN Supplier s ON p.supplierID = s.supplierID
JOIN SupplierPayment sp ON p.purchaseID = sp.purchaseID
WHERE sp.remainingAmount > 0
ORDER BY sp.remainingAmount DESC;

Explanation:  
Joins the Purchase table with Supplier to get vendor details.  
Joins with SupplierPayment to check the remaining unpaid amount.  
Filters only unpaid purchase orders (remainingAmount > 0).  
Orders by remainingAmount in descending order to show the highest unpaid amounts first.

#### 3. Understanding vendors

How many vendors do you have according to the region?

In [ ]:
-- count the number of vendors from different countries.
SELECT supplierCountry, COUNT(supplierID) AS vendor_count
FROM Supplier
GROUP BY supplierCountry
ORDER BY vendor_count DESC;

Explanation:  
Groups suppliers by supplierCountry.  
Counts the number of vendors (supplierID) per country.  
Orders by vendor_count in descending order to show the countries with the most vendors first.

#### 4. Understanding the Orders

In [ ]:
-- How many orders do you have in total?
SELECT COUNT(orderID) AS total_orders
FROM `Order`;

Explanation:  
Counts the number of orderIDs from the Order table.  
Returns the total number of orders as total_orders.

In [ ]:
-- Calcualte the Total Sales for each month
SELECT DATE_FORMAT(orderDate, '%Y-%m') AS sales_month, 
       SUM(totalAmount) AS total_sales
FROM `Order`
GROUP BY sales_month
ORDER BY sales_month;

 Explanation:  
Uses DATE_FORMAT(orderDate, '%Y-%m') to extract the year and month from orderDate.  
Sums up totalAmount for each month to calculate total sales.  
Groups results by sales_month to get monthly totals.  
Orders the results by sales_month in chronological order.

========   End of Assignment   ========